
@model IEnumerable<WebApplication39.Models.Category>
@{
    ViewBag.Title = "Все пользователи";
}
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
<h1>Категория</h1>
<a asp-action="Create">Добавить </a>

<table class="table">
    <tr><td>Имя</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
