
@model IEnumerable<WebApplication39.Models.Category>
@{
    ViewBag.Title = "Все пользователи";
}

<table class="table">
    <tr><td>Имя</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td></tr>
    }
</table>
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
 
}