
@model IEnumerable<WebApplication39.Models.Katalog>

@{
    ViewBag.Title = "ПО «Каталог продуктов»";
}


<h2>ПО «Каталог продуктов»</h2>
<h1>Личный кабинет</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<table class="table table-striped">
    <tr>
        
    </tr>

  
</table>
